.congratulation-modal .modal-content {
  position: relative;
  top: 141px;
  display: flex;
  flex-direction: column;
  width: 126%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2.3rem;
  outline: 0;
  height: 256px;
  box-shadow: 88px;
  box-shadow: 0px 3px 40px #0000004d;
}

.congratulation-modal .modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: none;

  /* border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px); */
}

.congratulation-modal .modal-footer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: none;
  /* border-bottom-right-radius: calc(0.3rem - 1px); */
  /* border-bottom-left-radius: calc(0.3rem - 1px); */
}

.cripto-img .congratulation-modal img.rounded.mx-auto.d-block {
  display: inline-block !important;
  margin: auto !important;
}
