.react-switch-checkbox3 {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 20em;
  height: 2.3em;
  /* left: 38%; */
  background: #fff;
  border: 2px solid grey;
  /* border-radius: 100px; */
  position: relative;
  transition: background-color 0.2s;
}

.toggleSwitchLabel3 {
  padding-top: 8%;
  padding-left: 0%;
  color: #fff;
}

.react-switch-label3 .react-switch-button {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 155px;
  height: 33px;
  /* border-radius: 45px; */
  transition: 0.2s;
  background: #f17228;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox3:checked + .react-switch-label3 .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.react-switch-label3:active .react-switch-button {
  width: 60px;
}

.dropdown-toggle {
  width: 345px;
  border: 2px solid black;
}

.box {
  display: flex;

  /* padding: 100px; */
  border-style: dashed;
  margin: 50px;
  height: 300px;
  background-color: aqua;
}
dropdown-toggle:empty::after {
  float: right;
}

/* table css */

.viewofferhead th {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

.viewofferdata {
  font-size: medium;
  color: #939393;
}

.viewactiveoffericons i {
  padding: 8px;
}

/* .fa-bars:before {
    / content: "\f0c9"; /
/ left: 100%; /
/* position: absolute;
    left: 100%;
    top: 90px;
} */
/* .modal {
  position: fixed;
  top: 130px;
  left: 455px;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.modal-backdrop.show {
  opacity: 0;
}
.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;

  outline: 0;
}

.btn-search {
  height: 35px;
  position: relative;
  margin-left: 51%;
  bottom: 53px;
  width: 50px;

  font: normal normal normal 13px/39px Lato;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  border: none;
  background: #F16728;
} */

/* pagiantion */

.paginationBttns a {
  padding: 12px;
  margin: 5px;
  border-radius: 5px;
  /* border: 1px solid #0076B5; */
  /* color: #0076B5; */
  cursor: pointer;
  font: 1em sans-serif;
  font-size: 15px;
}
.paginationActive a {
  /* background-color: #0076B5; */
}
.pagination {
  display: inline-block;
}
.product_pagination dl,
.product_pagination ol,
.product_pagination ul {
  margin-top: 0;
  margin-bottom: 1rem;
  display: inherit;
  text-decoration: none;
  list-style-type: none;
}
