#AdLogin {
  background-image: url(/public/assets/images/Login_bg.webp);
  height: 100vh;
}

.MarketplaceLogoHead a {
  color: #666666;
  font-size: large;
  font-weight: 600;
}
.MarketplaceLogoHead {
  padding-top: 5%;
}
.adminLogTitle {
  justify-content: center;
  font-weight: 400;
}

.AdLoginContainer {
  padding-top: 10%;
}

.loginTitle {
  color: white;
}

.AdLogmain {
  margin: top 10%;
}

@media screen and (max-width: 768px) {
  .AdLoginContainer {
    padding-top: 13% !important;
  }
}
@media (min-width: 769px) and (max-width: 993px) {
  .AdLoginContainer {
    padding-top: 7% !important;
  }
}

@media screen and (min-width: 994px) {
  .AdLoginContainer {
    padding-top: 10%;
  }
}
.adminLoginCont {
  background-image: linear-gradient(227deg, #3ed1fd 0%, #817fff 100%);
}

.AdLoginForm input {
  background-color: transparent;
  border-color: white;
  opacity: 0.8;
  color: white;
}
.AdLoginForm ::placeholder {
  color: white;
  opacity: 0.5;
  font-size: small;
}

#AdLogin h6 {
  color: white;
  font-size: small;
}

.Adforgotpassword {
  color: white;
  font-size: xx-small;
  text-align: end;
  opacity: 0.7;
}

.AdLoginbutton {
  background-color: #f16728;
  color: white;
}

/* //Dashboard Cards css */

.AdCardHeader {
  display: flex;
  justify-content: space-between;
  height: 50px;
  font-size: medium;
  opacity: 0.8;
  font-family: sans-serif;
}

.titleCard {
  padding: 1rem !important;
}

.adcardfooter {
  display: flex;
  justify-content: space-between;
  top: 5px;
  position: relative;
  font-size: small;
  opacity: 0.9;
  font-family: sans-serif;
}

.AdCard1 {
  /* background-image: url(/public/assets/images/adcard1.svg);
   */
  background-color: #4746e5;
  width: 17em;
  height: 7.5em;
  margin-left: 2em;
  border-radius: 5%;
  color: white;
}
.AdCard2 {
  /* background-image: url(/public/assets/images/Adcard2.svg); */
  background-color: #fb8020;
  width: 17em;
  height: 7.5em;
  margin-left: 2em;
  border-radius: 5%;
  color: white;
}

.AdCard3 {
  /* background-image: url(/public/assets/images/Adcard3.svg); */
  background-color: #65c25e;
  width: 17em;
  height: 7.5em;
  margin-left: 2em;
  border-radius: 5%;
  color: white;
}

.AdCard4 {
  /* background-image: url(/public/assets/images/Adcard4.svg); */
  background-color: #fc413a;
  width: 17em;
  height: 7.5em;
  margin-left: 2em;
  border-radius: 5%;
  color: white;
}
/* 
//Scetion 2 graph and pie  */

#AdChart1 {
  display: flex;
  flex-basis: 60%;
  margin: 30px 10px;
  background-color: white;
  border-radius: 10px;
}
#AdPie {
  display: flex;
  flex-basis: 30%;
  background-color: white;
  margin: 30px 10px;
  border-radius: 10px;
}

.Partnercircle {
  color: #14abef;
}
.Resellercircle {
  color: #02ba5a;
}
.Emailcircle {
  color: #d13adf;
}
.othercircle {
  color: #fba540;
}

#worldmap {
  /* flex-direction: column; */
  display: flex;
  flex-basis: 50%;
  margin: 0px 10px;
  background-color: white;
  height: 40em;
  border-radius: 10px;
}
.cont #worldmap {
  flex-direction: column;
  display: flex;
  flex-basis: 50%;
}

.WorldMap_img {
  width: 100%;
}
.world_table tr,
th {
  font-weight: 200 !important;
  font-size: small !important;
  color: grey;
}
.world_table {
  width: 100% !important;
  margin: 30px 0px 30px 0px;
}

#AdProdGraph {
  display: flex;
  flex-basis: 30%;
  background-color: white;
  margin: 0px 10px 20px;
  height: 20em;
  border-radius: 10px;
  border-radius: 10px;
}

.grossSqure {
  color: #14abef;
  margin: 0px 40px 20px 10px;
}
.salesSqure {
  color: #ade2f9;
}
/*  admin Circle Progress */
#demopro {
  width: 45%;
  background-color: white;
  margin: 0px 10px;
  height: 18em;
  display: flex;
  justify-content: center;
}

.DemoCardHead {
  font-size: smaller;
  margin-bottom: 0px !important;
  color: grey;
  padding-top: 5%;
}
.DemoCardnum {
  font-size: small;
  margin-bottom: 0px !important;
  padding-top: 6%;
  color: grey;
}
.DemoCardnumPro {
  font-size: small;
  margin-bottom: 0px !important;
  padding-top: 10%;
  color: grey;
}

.userbar {
  background-color: #05d628;
}
.Partnerbar {
  background-color: #c20129;
}
.Resellerbar {
  background-color: #d6c90b;
}
.RequestedDemobar {
  background-color: #f94a08;
}

.Demoprogress {
  width: 140px;
  height: 140px !important;
  /* float: left;  */
  line-height: 150px;
  background: none;
  margin-top: 1%;
  margin-left: 15%;
  box-shadow: none;
  position: relative;
}
.Demoprogress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 12px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.Demoprogress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.Demoprogress .progress-left {
  left: 0;
}
.Demoprogress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.Demoprogress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.Demoprogress .progress-right {
  right: 0;
}
.Demoprogress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}
.Demoprogress .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #fff;
  font-size: 24px;
  color: grey;
  line-height: 135px;
  text-align: center;
  position: absolute;
  /* top: 5%;
  left: 5%; */
}
.progress.blue .progress-bar {
  border-color: #08668f;
}
.progress.blue .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.8s;
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}
@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}

#userProg {
  width: 45%;
  background-color: white;
  margin: 0px 10px;
  border-radius: 10px;
  height: 18em;
  display: flex;
  justify-content: center;
}

/* progress Cards */

#ProgressCardsAddash {
  width: 48%;
  background-color: white;
  margin: 15px 10px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.ProgressCardHead {
  width: 45%;
  color: gray;
  font-size: small;
  opacity: 0.6;
}
.progressCardmainHead {
  color: gray;
  font-size: small;
  margin: 20px 0px 20px 0px;
}
.DashProCard {
  width: 45%;
}

.progress-bar-adDash {
  background-color: #05d628;
}
.progress-bar-adDash2 {
  background-color: #f16728;
}

.AdPiehead {
  font-size: large;
  color: grey;
  margin: 20px 0px 10px 0px;
}

/* DAshboard Tables */

#AdDashTable {
  background-color: white;
  margin: 15px 10px;
  display: flex;
  justify-content: center;
}
.AdDashTableHead {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px 20px 30px;
}

.Adh6 {
  font-size: small;
  color: gray;
}

.dashtableButton {
  color: #08668f;
  background: none;
  border: none;
  font-size: small;
}

/* //UserManagement */

.adminSecHeading {
  color: #666666;
  font-size: large;
}

.UserManRadio label {
  margin-right: 10%;
  color: #666666;
}
.UserRadio {
  margin-right: 3px;
}

.UserTableTabs {
  margin: 15px 0 0 0;
}
.userTabButton {
  background-color: #f16728 !important;
  color: #fff !important;
}

.table-nav-link {
  color: #f16728 !important;
}
/* FilterRadio */
.userMenuFilter {
  display: flex;
  justify-content: end;
}
.FilterRadioHead {
  color: #666666;
  margin: 5px !important;
  font-size: medium;
}

.UserRadioFilter {
  margin: 0 10px 2px 20px;
  width: 10px;
  color: #666666;
}

.FilterRadioGroup label {
  font-size: small;
  color: #666666;
}
.filterMenuBut {
  border: none;
  background-color: floralwhite;
}

/* product Card Toggle */

.AdProdCard {
  width:20em;
  height:16em;
  /* margin:40px 30px 30px 40px; */
  margin: 20px 20px 20px 30px
}

.AdProdCardOther {
  /* width:20em; */
  /* height:15em; */
  /* margin:40px 30px 30px 40px; */
  margin:30px
}
.cardBodyToggle {
  display: flex;
  justify-content: space-between;
}

.AdProdManTitle {
  color: grey;
  font-size: medium;
  padding-left:5px;
}

.AdProdStar {
  padding-left:10px
}

.AdProdMantext {
  color: grey;
  font-size: smaller;
  padding-left:5px;
  margin-bottom: 0 !important;
  padding-top:5px
}

.AdProdMantextCount {
  color: grey;
  font-size: smaller;
  padding:9% 0 0 5%
}

.toggle-switch {
  position: relative;
  width: 75px;
  display: inline-block;
  text-align: left;
  top: 0px;
}
.checkbox {
  display: none;
}
.ProdManLabel {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 20px;
  height: 30px;
}
.inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.inner:before,
.inner:after {
  float: left;
  width: 50%;
  height: 36px;
  padding: 0;
  line-height: 36px;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}
.inner:before {
  content: "YES";
  padding-left: 10px;
  background-color: green;
  color: #fff;
}
.inner:after {
  content: "NO";
  padding-right: 10px;
  background-color: #f16728;
  color: #fff;
  text-align: right;
}
.ProdManSwitch {
  display: block;
  width: 24px;
  margin-right: 2px;
  margin-top: 2px;
  height: 25px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 48px;
  border: 0 solid #bbb;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.checkbox:checked + .label .inner {
  margin-left: 0;
}
.checkbox:checked + .label .switch {
  right: 0px;
}

.ProdcardBottom {
  display: flex;
}
.ProdCardBut {
  border: none;
  background-color: #fff;
  margin-top: 5px;
}

.ProdManFooter {
  display: flex;
  height:30px
}
.ProdCardMain {
  margin-top:3%;
  height: 20px !important;
  width:100%
}
.ProdManProgress {
  width:40%;
  background-color: #f16728;
}
.ProdManFooter .heading {
  width: 22%;
  color: grey;
  opacity: 0.9;
  margin-left:20px;
}
.ProdManFooter .ProdManProg {
  width:50%;
}
.ProdManFooter .footer {
  color:grey;
  width:18%;
  font-size:smaller;
}
.AdProdSeeReview {
  color:#666666;
  font-size: medium;
}
.AdcardMenu {
  justify-content: end;
display: flex !important;
margin-top: 1em;
margin-right: 1em;
border: none;
  background-color: white;
}
.AdEditMenuDrop{
  transform: translate(125px,36px) !important;
}

.AdCardIcon{
  padding-top:3px;
  padding-right:10px;
}
.dropAdd{
  display: flex;
  justify-content: center;
}

/* ProdMan PArtner Card */

.cardHead{
  display:flex;
  justify-content: space-around;
  margin-top:6%;
}

.AdOtherProdCheck {
  color:#05d628;
}

.ProdcardBottomOtherPro {
  display: flex;
  justify-content: space-between;
  margin-top:3%;
}