hr.style1 {
  border-top: 1px solid #8c8b8b;
}

.table-paid-btn {
  border: 0.5px solid #707070;
  height: 27px;
  font-size: 14px;
  letter-spacing: 0px;
  color: #05d628;
  opacity: 1;
}

.btn-search {
  font: normal normal normal 12px/35px Lato;
  letter-spacing: 0px;
  color: #ffffff;

  border: none;
  background: #f16728;
}

