.backgraound_white {
  background-color: white;
  box-shadow: 0px 3px 30px #00000012;
  border-radius: 9px;
  color: gray;
  font-size: small;
}

input,
textarea .backgraound_white {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 60%;
  background: #f2f2f2 0% 0% no-repeat padding-box;
  border: 0.30000001192092896px solid #707070;
  border-radius: 7px;
  opacity: 1;

}
.backgraound_white span {
  width: 30% !important;
  display: inline-block;
}

.amount-transfer input {
  width: 58%;
}
.invoice-number::placeholder {
  color: #3ca3cf;
}
.transaction-id::placeholder {
  color: black;
}
.pay-pending-btn {
  font-size: 14px;
  color: #ff0000;
  width: max-content;
  opacity: 1;
}
.pay-paid-btn {
  font-size: 14px;
  letter-spacing: 0px;
  color: #05d628;
  opacity: 1;
}
